# Ignore large files that exceed GitHub's 100MB limit
University of Liverpool/Year 3/Comp 335 - Communicating Computer Science/Teaching day/Introduction to Machine Learning - With Solutions.pptx
University of Liverpool/Year 3/Comp 336 - Big Data Analytics/Assignment 1/dataset.txt
